@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #003949;
  overflow: hidden;
}

.App {
  height: 100%;
  width: 100%;
}

.editor__container {
  margin-left: 0 !important;
  display: block !important;
}

.preview__container {
  height: 100vh;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 16px;
}

.editors {
  height: 100vh;
  padding-right: 0 !important;
}

.accordion-text {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 30px;
  background-color: #002c37;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  border-bottom: 1px solid #004154;
  font-size: 14px;
  border-top: 1px solid #004154;
}
